<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSC_ModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NSC_ModManager.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NSC_ModManager.Properties.Settings>
            <setting name="StretchMode" serializeAs="String">
                <value>Uniform</value>
            </setting>
            <setting name="BackgroundColor1" serializeAs="String">
                <value>#9C000000</value>
            </setting>
            <setting name="ButtonColor1" serializeAs="String">
                <value>#9C000000</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value>UI/background/bg_toolbox_main.png</value>
            </setting>
            <setting name="TextColor1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ModdingGroupLink" serializeAs="String">
                <value>https://discord.gg/naruto-storm-modding-server-841394026599022682</value>
            </setting>
            <setting name="RootGameFolder" serializeAs="String">
                <value />
            </setting>
        </NSC_ModManager.Properties.Settings>
        <NSC_ModManager.Settings1>
            <setting name="StretchMode" serializeAs="String">
                <value>Fill</value>
            </setting>
        </NSC_ModManager.Settings1>
    </userSettings>
</configuration>